<ng-container *ngIf="programa">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <img class="img img-fluid" [src]="programa.img | imagen: 'programa'" [alt]="programa?.nombre">
                </div>
                <div class="col-8">
                    <h2 class="text-center font-weight-light">{{ programa.nombre | uppercase }}</h2>
                    <hr>
                    <p class="font-weight-light h3">Colaboradores:
                        <ng-container *ngFor="let colaborador of programa.colaboradores">
                            <span class="badge badge-secondary"><small>{{ colaborador.nombre }}</small></span>
                        </ng-container>
                    </p>
                    <hr>
                    <p class="text-justify" [innerHTML]="programa.contenido | safeHtml: 'html'"></p>
                    <hr>
                    <p class="font-weight-light h3">Horario:
                        <ng-container *ngFor="let fecha of programa.fecha">

                            <span [ngSwitch]=true>
                                    <span *ngSwitchCase="fecha.dia == 1">Lunes</span>
                            <span *ngSwitchCase="fecha.dia == 2">Martes</span>
                            <span *ngSwitchCase="fecha.dia == 3">Miércoles</span>
                            <span *ngSwitchCase="fecha.dia == 4">Jueves</span>
                            <span *ngSwitchCase="fecha.dia == 5">Viernes</span>
                            <span *ngSwitchCase="fecha.dia == 6">Sábado</span>
                            <span *ngSwitchCase="fecha.dia == 0">Domingo</span>
                            <span *ngSwitchDefault>null</span>
                            </span> de {{ fecha.horaInicio }} a {{ fecha.horaFin }}
                        </ng-container>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</ng-container>