<ng-container *ngIf="programa">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <img class="img img-fluid" [src]="programa.img | imagen: 'programa'" [alt]="programa?.nombre">
                </div>
                <div class="col-8">
                    <h2 class="text-center font-weight-light">{{ programa.nombre | uppercase }}</h2>
                    <hr>
                    <p class="font-weight-light h3">Colaboradores:
                        <ng-container *ngFor="let colaborador of programa.colaboradores">
                            <span [routerLink]="['/usuario', colaborador._id]" class="badge badge-secondary pointer"> <small> {{ colaborador.nombre }} </small></span>
                        </ng-container>
                    </p>
                    <hr>
                    <p class="text-justify" [innerHTML]="programa.contenido | safeHtml: 'html'"></p>
                    <hr>
                    <p class="font-weight-light h3">Horario:
                        <ng-container *ngFor="let dia of programa.fecha[0].dia">
                            <span *ngIf="programa.fecha[0].dia.length > 1">
                                {{ dia }} - 
                            </span>
                            <span *ngIf="programa.fecha[0].dia.length <= 1">
                                {{ dia }} -
                            </span>
                        </ng-container> de {{ programa.fecha[0].horaInicio }} a {{ programa.fecha[0].horaFin }}
                        <br>
                        <ng-container *ngIf="programa.fecha[1]">
                            <ng-container *ngFor="let dia of programa.fecha[1].dia">
                                <span *ngIf="programa.fecha[1].dia.length > 1">
                                {{ dia }} - 
                            </span>
                                <span *ngIf="programa.fecha[1].dia.length <= 1">
                                {{ dia }} -
                            </span>
                            </ng-container> de {{ programa.fecha[1].horaInicio }} a {{ programa.fecha[1].horaFin }}
                        </ng-container>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-body">
                  <h5 *ngIf="programa.facebook || programa.twitter || programa.potcast"  class="card-title">Síguenos en las redes</h5>
                  <p *ngIf="programa.facebook" class="card-text"><i class="fab fa-facebook-f"></i> <a [href]="programa?.facebook"> Facebook</a></p>
                  <p *ngIf="programa.twitter" class="card-text"><i class="fab fa-twitter"></i> <a [href]="programa?.twitter"> Twitter</a></p>
                  <p *ngIf="programa.instagram" class="card-text"><i class="fab fa-instagram"></i> <a [href]="programa?.instagram"> Instragram</a></p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Podcast</h5>

                  <p *ngIf="programa.potcast" ><span class="text-justify" [innerHTML]="programa?.potcast | safeHtml: 'html'"></span></p>
                </div>
            </div>
        </div>
    </div>
</ng-container>