<div class="row pt-2">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Eventos y Categorías</h5>
            
            <div>
                <div>
                  <div *ngIf="noticiasNoticia" class="chart">
                    <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
                    </canvas>
                  </div>
                </div>
              </div>


          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Programas y Usuarios</h5>
            
            <div>
                <div>
                  <div  class="chart" *ngIf="totalProgramas">
                    <canvas baseChart
                      [data]="pieChartDataU"
                      [labels]="pieChartLabelsU"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
                    </canvas>
                  </div>
                </div>
              </div>


          </div>
      </div>
  </div>
</div>
