<ng-container *ngIf="event">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center" style="line-height: 2.5rem">{{event.titulo}}</h2>
            <h4 class="text-center font-weight-light">{{event.resume}}</h4>
            <figure class="text-center ">
                <img [src]="event.img | imagen: 'noticia'" class="img img-fluid mt-2">
                <figcaption class="font-italic">{{ event.author?.nombre || 'anónimo' }} - {{ event.date | date: 'dd-MM-yyyy'}}</figcaption>
            </figure>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8">
            <p><span class="text-justify" [innerHTML]="event.contenido | safeHtml: 'html'"></span></p>
        </div>
        <div class="col-md-4">

            <h2 class="font-weight-light">También en la Web</h2>
            <hr>
            <div class="row mt-3" *ngFor="let evento of otrosEventos | slice:0:3">
                <ng-container *ngIf="event._id !== evento._id">
                    <div class="col-md-6 text-center">
                        <img [routerLink]="['/evento', evento._id ]" class="img img-fluid cambiar" [src]="evento.img | imagen: 'noticia'" [alt]="evento.titulo">
                    </div>
                    <div [routerLink]="['/evento', evento._id ]" routerLinkActive="router-link-active" class="col-md-6 text-center text-md-left text-lg-left">
                        <h4 class="pointer">{{ evento.titulo}}</h4>
                        <p class="font-weight-light text-truncate d-none d-md-block d-lg-block pointer"><small>{{ evento.resume }}</small></p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>