<ng-container *ngIf="noticias">
    <div class="row">
        <div class="col-md-8 bg-light pt-3 pb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" [routerLink]="['/evento', noticias[0]?._id ]">
                        <div class="text-center" style="overflow: hidden; max-height: 400px;">
                            <img class="cambiar card-img-top img-fluid" [src]=" noticias[0]?.img | imagen: 'noticia'" alt="Card image cap">
                        </div>
                        <div class="card-body pointer">
                            <h5 class="card-title font-weight-bold h2">{{ noticias[0]?.titulo }}</h5>
                            <p class="card-text">{{ noticias[0]?.resume}}</p>
                            <p class="card-text"><small class="text-muted">{{ noticias[0]?.author.nombre }} - {{ noticias[0]?.date | date: 'dd-MM-yyyy'}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="font-weight-light">{{'De Interés' | uppercase}}</h2>
                    <hr class="text-info">
                    <div class="card-group">
                        <div class="card" *ngFor="let actividad of actividades | slice:0:3" [routerLink]="['/evento', actividad._id ]">
                            <img class="cambiar card-img-top" [src]=" actividad.img | imagen: 'noticia'" alt="Card image cap">
                            <div class="card-body pointer">
                                <h5 class="card-title">{{ actividad.titulo }}</h5>
                                <p class="card-text">{{ actividad.resume }}</p>
                                <p class="card-text"><small class="text-muted">{{ actividad.date | date: 'dd-MM-yyyy'}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 bg-light pt-3 pb-3">
            <div class="row">
                <div class="col-md-12 pt-1 pb-1">
                    <ng-container *ngIf="noticias">
                        <div class="card" [routerLink]="['/evento', noticias[1]?._id ]">
                            <div class="text-center" style="overflow: hidden; max-height: 400px;">
                                <img class="cambiar card-img-top img-fluid" [src]=" noticias[1]?.img | imagen: 'noticia'" alt="Card image cap">
                            </div>
                            <div class="card-body pointer">
                                <h5 class="card-title text-info">{{ noticias[1]?.titulo }}</h5>
                                <p class="card-text">{{ noticias[1]?.resume}}</p>
                                <p class="card-text"><small class="text-muted">{{ noticias[1]?.author.nombre }} - {{ noticias[1]?.date | date: 'dd-MM-yyy'}}</small></p>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-md-12 pb-1">
                    <ng-container *ngIf="noticias">
                        <div class="card" [routerLink]="['/evento', noticias[2]?._id ]">
                            <div class="text-center" style="overflow: hidden; max-height: 400px;">
                                <img class="cambiar card-img-top img-fluid" [src]=" noticias[2]?.img | imagen: 'noticia'" alt="Card image cap">
                            </div>

                            <div class="card-body pointer">
                                <h5 class="card-title text-info">{{ noticias[2]?.titulo }}</h5>
                                <p class="card-text">{{ noticias[2]?.resume}}</p>
                                <p class="card-text"><small class="text-muted">{{ noticias[2]?.author.nombre }} - {{ noticias[2]?.date | date: 'dd-MM-yyy'}}</small></p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-md-12 bg-light pt-3 pb-3">
            <h2 class="font-weight-light">{{'Opinión' | uppercase}} </h2>
            <hr class="text-info">
            <div class="card-deck">
                <div class="card" *ngFor="let noticia of noticiasDeOpinion | slice:0:3" [routerLink]="['/evento', noticia._id ]">
                    <img class="cambiar card-img-top" [src]=" noticia.img | imagen: 'noticia'" alt="Card image cap">
                    <div class="card-body pointer">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.resume }}</p>
                        <p class="card-text"><small class="text-muted">{{ noticia.author?.nombre || 'anonymous'}} - {{ noticia.date | date: 'HH:mm'}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>