<div class="row">
    <div class="col-md-10 ml-5 mt-5 text-center">
        <img *ngIf="!imagenTemp" #upload (click)="file.click()" [src]=" 'default'| imagen" alt="imagen de usuario" class="img-fluid mr-3 cambiar pointer">
        <img *ngIf="imagenTemp" #upload (click)="file.click()" [src]="imagenTemp" alt="imagen de usuario" class="img-fluid mr-3 cambiar pointer">
        <input #file type="file" accept="image/*" (change)="seleccionImagen( $event.target.files[0] )" hidden>
        <hr>
    </div>
    <div class="col-md-10 ml-5 mt-5">

        <form ngNativeValidate [formGroup]="forma" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <mat-form-field class="w-100 p-2">
                <input formControlName="titulo" type="text" required matInput placeholder="Titulo">
            </mat-form-field>

            <mat-form-field class="w-100 p-2">
                <input formControlName="resume" type="text" required matInput placeholder="Resumen">
            </mat-form-field>


            <ngx-wig formControlName="contenido" [placeholder]="'Describe el evento....'"></ngx-wig>

            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tagArray" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
                        {{ tag }}
                        <mat-icon matChipRemove *ngIf="removable"><i class="fas fa-times"></i></mat-icon>
                    </mat-chip>
                    <input placeholder="Tags..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
            </mat-form-field>

            <button class="w-100 p-2" mat-raised-button color="primary">Crear Noticia</button>

        </form>
    </div>
</div>


<!--

<mat-form-field class="w-100 p-2">
    <input (keyup.enter)=addTags($event) [value]="tagArray" type="text" required matInput placeholder="tags...">
</mat-form-field>

-->